[Desktop Entry]
Name=Bar Węgielstwo Pro
Exec=bar_wegielstwo_pro
Icon=bar_wegielstwo_pro
Type=Application
Categories=Utility;Office;
Comment=Bar Węgielstwo - launcher aplikacji restauracyjnych